@font-face {
  font-family: "PassengerSans";
  src: url(./assets/font/PassengerSans-Regular.otf);
}

@font-face {
  font-family: "Suisse Int'l";
  src: url(./assets/font/SuisseIntl-Regular.ttf);
}

.font-passenger {
  font-family: "PassengerSans";
}

.font-suisse {
  font-family: "Suisse Int'l";
}

.custom-gradient {
  background-image: linear-gradient(to right, #3FD2CA 30%, #6925FB 100%);
}

.treasury-background {
  background: linear-gradient(180deg, #0F0F10 0%, #050304 100%);
}

.steps-background {
  background: linear-gradient(180deg, #050304 0%, #0F0F10 100%);
}

@keyframes animation {
  from {
    margin-left: 0px
  }

  to {
    margin-left: -30.3%;
  }
}

.loop-anim {
  animation-name: animation;
  animation-duration: 25s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@media (max-width: 1024px) {
  .steps-background {
    background: #050304;
  }
}

body {
  overflow-x: hidden;
}